@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.wrapper {
   width: 400px;
   background-color: #fff;
   border-radius: 7px;
}

.wrapper header {
   font-size: 25px;
   font-weight: 500;
   padding: 20px 21px;
   border-bottom: 1px solid #4facfe;
   display: flex;
   align-items: center;
   color: #4facfe;
}

.wrapper.active header i {
   font-size: 30px;
   margin-left: 5px;
}

.wrapper header i {
   cursor: pointer;
   font-size: 0px;
   margin-right: 8px;
}

.wrapper .input-area {
   /* display: none; */
   margin: 20px 25px 30px;
}

.wrapper.active .input-area {
   display: none;
}

.wrapper .input-area .info-text {
   display: none;
   font-size: 17px;
   text-align: center;
   padding: 12px 10px;
   border-radius: 7px;
   margin-bottom: 12px;
}

.wrapper .input-area .info-text.error {
   display: block;
   color: #721c24;
   background: #f8d7da;
   border: 1px solid #f5c6cb;
}

.wrapper .input-area .info-text.pending {
   display: block;
   color: #0c5460;
   background: #d1ecf1;
   border: 1px solid #bee5eb;
}

.wrapper .input-area input {
   width: 100%;
   height: 40px;
   border: none;
   outline: none;
   border: 1px solid #4facfe;
   border-radius: 7px;
   text-align: center;
   font-size: 16px;
}

.wrapper .input-area input:is(:focus, :valid) {
   border: 2px solid #4facfe;
}

.wrapper .input-area .separator {
   height: 1px;
   width: 100%;
   background: #ccc;
   margin: 25px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.wrapper .input-area .separator::before {
   content: "or";
   background: #fff;
   padding: 0 15px;
   font-size: 19px;
   color: #ccc;
}

.wrapper .input-area button {
   width: 100%;
   height: 45px;
   border: none;
   outline: none;
   border-radius: 7px;
   color: #fff;
   /* background-color: #4facfe; */
   background-image: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
   cursor: pointer;
}

.wrapper .weather-part {
   margin: 30px 0 0;
   display: none;
   /* display: flex; */
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wrapper.active .weather-part {
   display: flex;
}

.wrapper .weather-part img {
   max-width: 125px;
}

.wrapper .weather-part .temp {
   display: flex;
   font-size: 60px;
   font-weight: 500;
}

.wrapper .weather-part .temp .numb {
   font-weight: 600;
}

.wrapper .weather-part .temp .deg {
   font-size: 40px;
   margin: 10px 5px 0 0;
   display: block;
}

.wrapper .weather-part .weather {
   font-size: 21px;
   text-align: center;
   margin: -5px 20px 15px;
}

.wrapper .weather-part .location {
   font-size: 21px;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.wrapper .weather-part .location i {
   font-size: 20px;
   margin-right: 5px;
}

.wrapper .weather-part .bottom-details {
   /* background: red; */
   border-top: 1px solid #4facfe;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.bottom-details .column {
   /* background: red; */
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px 0;
}

.bottom-details .column i {
   /* background-color: red; */
   color: #43AFFC;
   font-size: 40px;
}

.column.humidity {
   border-left: 1px solid #bfbfbf;
}

.bottom-details .column .details .temp,
.humidity span {
   font-size: 18px;
   font-weight: 500;
   margin-top: -3px;
}

.bottom-details .column .details .temp .deg {
   margin: 0;
   font-size: 17px;
   pad: 0 2px 0 1px;
}

.bottom-details .column .details p {
   font-size: 14px;
   margin-top: -6px;
}